{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=604800" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{% static 'js/tailwind.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="{% static 'css/daisy.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.2/dist/full.css"
              rel="stylesheet"
              type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class=" bg-[#F4C2C2]">
        <!-- ========================= HEADER ========================= -->
        <div class="">
            <nav class="bg-[#F4C2C2] rounded-b-2xl shadow-lg fixed w-full z-20 top-0 left-0 ">
                <div class="mx-1 mb-1 border-white border-l-2 border-r-2 border-b-2 rounded-bl-xl rounded-br-xl">
                    <nav class="flex items-center justify-between flex-wrap bg-teal p-1">
                        <div class="flex items-center flex-no-shrink text-white mx-10 ">
                            <img src="{% static 'images/flowerLogo.png' %}"
                                 alt="Lily logo"
                                 class="w-16 h-16  rounded-badge m-2 border-2 border-slate-50">
                            <span class="font-semibold text-3xl tracking-tight font-['Open_Sans']">Lily Salon</span>
                        </div>
                        <div class="block lg:hidden">
                            <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
                                <svg class="h-3 w-3"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <title>Menu</title>
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                                </svg>
                            </button>
                        </div>
                        <div class="w-full block  lg:flex lg:items-center lg:w-auto ">
                            <div class="text-xl lg:flex-grow  gap-12 text-gray-800 font-serif mr-5">
                                <div class="a_dropdown relative inline-block text-left ">
                                    <button class="inline-flex justify-center  mt-4  lg:mt-0 text-teal-lighter hover:text-white  "
                                            type="button"
                                            aria-haspopup="true"
                                            aria-expanded="true"
                                            aria-controls="headlessui-menu-items-117">
                                        <span>Админ</span>
                                        <svg class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
                                            </path>
                                        </svg>
                                    </button>
                                    <div class="opacity-0 invisible a_dropdown-menu transition-all duration-300 transform origin-top-right -translate-y-2 scale-95">
                                        <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none"
                                             aria-labelledby="headlessui-menu-button-1"
                                             id="headlessui-menu-items-117"
                                             role="menu">
                                            <div class="px-4 py-3">
                                                <p class="text-sm leading-5">Нэвтэрсэн:</p>
                                                <p class="text-sm font-medium leading-5 text-gray-900 truncate">admin@gmail.com</p>
                                            </div>
                                            <div class="py-1">
                                                <a href="javascript:void(0)"
                                                   tabindex="0"
                                                   class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                                                   role="menuitem">Тохиргоо</a>
                                                <a href="javascript:void(0)"
                                                   tabindex="3"
                                                   class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"
                                                   role="menuitem">Гарах</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <style>
                            .a_dropdown:focus-within .a_dropdown-menu {
                                opacity:1;
                                transform: translate(0) scale(1);
                                visibility: visible;
                                }
                                </style>
                            </div>
                        </div>
                    </nav>
                </div>
            </nav>
        </div>
        <!-- ========================= HEADER END // ========================= -->
        <main class="min-h-screen ">
            <div class=" mx-auto mt-4 mx-5 pt-16">
                <div class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-gray-500 bg-no-repeat bg-cover relative items-center"
                     style="background-image: url(../../static/images/pink_marble.jpg)">
                    <div class="absolute bg-black opacity-60 inset-0 z-0"></div>
                    <div class="max-w-2xl w-full space-y-8 p-10 bg-white rounded-xl z-10">
                        <div class="text-center">
                            <h2 class="mt-6 text-3xl font-bold text-[#E17F93]">Оператор</h2>
                            {% if errorMessage %}
                                <p class="mt-2 text-sm text-red-600">!! {{ errorMessage }} !!</p>
                            {% else %}
                                <p class="mt-2 text-sm text-gray-600">Операторийн мэдээллийг оруулна уу</p>
                            {% endif %}
                        </div>
                        <form class="mt-8 space-y-6" method="POST">
                            {% csrf_token %}
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                                <div class="relative">
                                    <label class="text-sm  font-bold text-gray-700 tracking-wide">Овог</label>
                                    <input name="lastname" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" value = {{ operator.lastname }} placeholder="John" class="bg-white">
                                </div>
                                <div class="relative">
                                    <label class="text-sm  font-bold text-gray-700 tracking-wide">Нэр</label>
                                    <input name="firstname" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" value = {{ operator.firstname }} placeholder="John" class="bg-white">
                                </div>
                                <div class="relative">
                                    <label class="text-sm  font-bold text-gray-700 tracking-wide">Утас</label>
                                    <input name="phone" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" value = {{ operator.phone }} placeholder="88995566" class="bg-white">
                                </div>
                                <div class="relative">
                                    <label class="text-sm  font-bold text-gray-700 tracking-wide">Цахим хаяг</label>
                                    <input name="email" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="email" value = {{ operator.email }} placeholder="name@gmail.com" class="bg-white">
                                </div>
                                <div class="content-center">
                                    <label class="text-sm font-bold text-gray-700 tracking-wide">Нууц үг</label>
                                    <input name="password" class="w-full bg-white content-center text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" required type="text" value={{ operator.password }} placeholder="">
                                </div>
                                <select class="p-2 block text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none"
                                        name="branch_id"
                                        id="branch">
                                    <option value="1">Салбар-1</option>
                                    <option value="2">Салбар-2</option>
                                    <option value="3">Салбар-3</option>
                                    <option value="4">Салбар-4</option>
                                </select>
                            </div>
                            <div class="pt-5 grid grid-cols-1 md:grid-cols-2 gap-8">
                                <a href="{% url 'list_operator' %}"
                                   class="w-full flex justify-center bg-[#F4C2C2] text-gray-100 p-4  rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-[#E17F93] shadow-lg cursor-pointer transition ease-in duration-300">
                                    Цуцлах
                                </a>
                                <button type="submit"
                                        class="w-full flex justify-center bg-[#F4C2C2] text-gray-100 p-4  rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-[#E17F93] shadow-lg cursor-pointer transition ease-in duration-300">
                                    Хадгалах
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- ========================= FOOTER  ========================= -->
        <div class=" float-bottom">
            <footer class=" dark:bg-gray-900">
                <div class="container px-6 py-8 mx-auto">
                    <hr class=" border-gray-200 dark:border-gray-500" />
                    <div class="flex flex-col items-center sm:flex-row sm:justify-between">
                        <p class="text-sm text-gray-500">© Lily Salon 2023. All Rights Reserved.</p>
                        <div class="flex mt-3 -mx-2 sm:mt-0">
                            <a href="#"
                               class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                               aria-label="Reddit">Teams</a>
                            <a href="#"
                               class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                               aria-label="Reddit">Privacy</a>
                            <a href="#"
                               class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                               aria-label="Reddit">Cookies</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- ========================= FOOTER END ========================= -->
    </body>
</html>
