{% extends "../base/operatorBase.html" %}
{% block content %}
{% load static %}
    <div class="min-h-screen flex items-center justify-center">
        <div class="max-w-2xl w-full space-y-8 p-10 bg-white rounded-xl z-10 border">
            <div class="text-center">
                <h2 class="mt-6 text-3xl font-bold text-[#E17F93]">Ажилтан</h2>
                {% if errorMessage %}
                    <p class="mt-2 text-sm text-red-600">!! {{ errorMessage }} !!</p>
                {% else %}
                    <p class="mt-2 text-sm text-gray-600">Алдаатай мэдээллийг засна уу!!</p>
                {% endif %}
            </div>
            <form class="mt-8 space-y-6" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                        <input type="hidden" name="remember" value="true">
                        <div class="relative">
                            <label class="text-sm  font-bold text-gray-700 tracking-wide">Овог</label>
                            <input name="lastname" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" placeholder="John" value={{ worker.lastname }} class="bg-white">
                        </div>
                        <div class="relative">
                            <label class="text-sm  font-bold text-gray-700 tracking-wide">Нэр</label>
                            <input name="firstname" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" value={{ worker.firstname }} placeholder="John" class="bg-white">
                        </div>
                        <div class="relative">
                            <label class="text-sm  font-bold text-gray-700 tracking-wide">Утас</label>
                            <input name="phone" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" placeholder="88995566" value={{ worker.phone }} class="bg-white">
                        </div>
                        <div class="relative">
                            <label class="text-sm  font-bold text-gray-700 tracking-wide">Цахим хаяг</label>
                            <input name="email" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="email" placeholder="name@gmail.com" value={{ worker.email }}>
                        </div>
                        <div class="relative">
                            <label class="text-sm  font-bold text-gray-700 tracking-wide">Салбар</label>
                            <select class="rounded-lg w-full p-2 block text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none"
                                    name="branch_id"
                                    id="branch_id">
                                {% for branch in branches %}
                                    <option {% if branch.id == worker.branch_id  %} selected {% endif %} value={{branch.id}}>Салбар-{{ branch.id }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="relative">
                            <label class="text-sm  font-bold text-gray-700 tracking-wide">Мэргэжил</label>
                            <select class="rounded-lg w-full p-2 block text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none"
                                    name="occupation_id"
                                    id="occupation">
                                {% for occupation in occupations %}
                                    <option {% if occupation.id == worker.ocupation_id %} selected {% endif %}  value={{occupation.id}}>{{ occupation.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="relative">
                            <label class="text-sm  font-bold text-gray-700 tracking-wide mb-2">Зураг</label>
                            <input type="hidden" value = {{worker.image}} name="oldImage" />
                            <input class="p-1 rounded-lg block w-full text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none"
                                   id="image"
                                   name="image"
                                   type="file">
                        </div>
                    </div>
                    <div class="pt-5 grid grid-cols-1 md:grid-cols-2 gap-8">
                        <a href="{% url 'list_operator' %}"
                            class="w-full flex justify-center bg-[#F4C2C2] text-white p-4  rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-[#E17F93] shadow-lg cursor-pointer transition ease-in duration-300">
                            Цуцлах
                        </a>
                        <button type="submit"
                                class="w-full flex justify-center bg-[#F4C2C2] text-gray-100 p-4  rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-[#E17F93] shadow-lg cursor-pointer transition ease-in duration-300">
                            Хадгалах
                        </button>
                    </div>
                
            </form>
        </div>
    </div>
{% endblock %}