{% extends "../base/operatorBase.html" %}
{% block content %}
{% load static %}
<div class=" min-h-screen flex items-center justify-center">

        <div class="max-w-md w-full space-y-8 p-10 bg-white rounded-xl z-10 border">
            <div class="text-center">
                <h2 class="mt-6 text-3xl font-bold text-[#E17F93]">Үйлчилгээ</h2>
                    {% if errorMessage %}
                        <p class="mt-2 text-sm text-red-600">!! {{ errorMessage }} !!</p>
                    {% else %}
                        <p class="mt-2 text-sm text-gray-600">Алдаатай мэдээллийг засна уу!!</p>
                    {% endif %}
            </div>
            <form class="mt-8 space-y-6" method="POST">
                {% csrf_token %}
                <input type="hidden" name="remember" value="true">
                <div class="relative">
                    <label class="text-sm  font-bold text-gray-700 tracking-wide">Нэр</label>
                    <input name="name" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="text" placeholder="name" value={{ service.name }}>
                </div>
                <div class="relative">
                    <label class="text-sm  font-bold text-gray-700 tracking-wide">Төрөл</label>
                    <select class="rounded-lg w-full p-2 block text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none"
                            name="occupation_id"
                            id="branch">
                        {% for occupation in occupations %}
                            <option {% if occupation.id == service.ocupation_id %}selected{% endif %} value={{ occupation.id }}>{{ occupation.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="relative">
                    <label class="text-sm  font-bold text-gray-700 tracking-wide">Үнэ</label>
                    <input name="price" class=" w-full bg-white text-base py-2 border-b border-gray-300 focus:outline-none focus:border-indigo-500" type="number" placeholder="name" value={{ service.price }}>
                </div>
                
                <div class="grid grid-cols-2 gap-4">
                    <div class="pt-5">
                        <button type="submit"
                                class="w-full flex justify-center bg-[#F4C2C2] text-white p-4  rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-[#E17F93] shadow-lg cursor-pointer transition ease-in duration-300">
                            Цуцлах
                        </button>
                    </div>
                    <div class="pt-5">
                        <button type="submit"
                                class="w-full flex justify-center bg-[#F4C2C2] text-white p-4  rounded-full tracking-wide font-semibold  focus:outline-none focus:shadow-outline hover:bg-[#E17F93] shadow-lg cursor-pointer transition ease-in duration-300">
                            Хадгалах
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
{% endblock %}
