{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'js/tailwind.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/daisy.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.2/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</head>
<body class=" bg-[#F4C2C2]">
    <!-- ========================= HEADER ========================= -->

    <div class="">

        <nav class="bg-[#F4C2C2] rounded-b-2xl shadow-lg fixed w-full z-20 top-0 left-0 ">
            <div class="mx-1 mb-1 border-white border-l-2 border-r-2 border-b-2 rounded-bl-xl rounded-br-xl">
                <nav class="flex items-center justify-between flex-wrap bg-teal p-1">
                  <div class="flex items-center flex-no-shrink text-white mx-10 ">
                    <img src="{% static 'images/flowerLogo.png' %}"  alt="Lily logo" class="w-16 h-16  rounded-badge m-2 border-2 border-slate-50">
                    <span class="font-semibold text-3xl tracking-tight font-['Open_Sans']">Lily Salon</span>
                  </div>
                  <div class="block lg:hidden">
                  </div>
                  <div class="w-full block  lg:flex lg:items-center lg:w-auto ">
                    <div class="text-xl lg:flex-grow  gap-12 text-gray-800 font-serif mr-5">
                        <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter hover:text-white ">
                          Оператор 
                        </a>
                    </div>
                  </div>
                </nav>
            </div>
        </nav>
          
    </div>
    <!-- ========================= HEADER END // ========================= -->
    <main class="min-h-screen ">
        <div class="max-w-7xl mx-auto mt-12 mx-5 pt-16 pb-5">
          <!-- ========================= LIST  // ========================= -->
          <div class="bg-white p-8 rounded-md w-full">
            
            <div class=" flex grid grid-cols-3 w-full items-center justify-between pb-6">
              <div>
                <h2 class="text-gray-600 font-semibold">Хөнгөлөлт/Урамшуулал</h2>
              </div>
              <div class="">
                <form>   
                  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-[#F4C2C2]">Хайх</label>
                  <div class="relative">
                      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                          <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                      </div>
                      <input type="search" id="default-search" class="block  p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50  border border-[#F4C2C2]  dark:bg-white dark:text-dark  focus:border-white  focus:ring-white  " placeholder="Хөнгөлөлт хайх..." required>
                      <button type="submit" class=" text-white absolute right-2.5 bottom-2.5 bg-[#F4C2C2] hover:bg-[#E17F93]  focus:outline-none focus:ring-blue-300 font-medium  text-sm px-4 py-2   ">Хайх</button>
                  </div>
                </form>
              </div>
              <div class="lg:ml-40 ml-10 space-x-8">
                <a href="{% url 'add_sales' %}" class="bg-[#F4C2C2] hover:bg-[#E17F93] px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Нэмэх</a>
              </div>
              </div>
  
              <div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                  <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                      <thead>
                        <tr>
                          <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <td class="px-5 py-5 border-b border-gray-200 " >
                              <div class="flex-shrink-0  ">
                                
                                <input class=" block w-full text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none"
                                   id="image"
                                   name="image"
                                 
                                   type="file">
                              </div>
                            </td>

                            <td class="px-5 py-5 border-b border-gray-200 " >
                              <div class="flex-shrink-0  ">
                                <input class="p-2 block w-full text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none" placeholder="Тайлбар" name="description" type="text">   
                              </div>
                            </td>

                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                              <div class="flex items-center">
                                    <input class="p-2 block w-full text-xs text-gray-900 border border-gray-300  cursor-pointer bg-gray-50 focus:outline-none"  name="end_date" type="date">   
                                  </div>
                            </td>
  
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                              <input class="bg-[#F4C2C2] hover:bg-[#E17F93] px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer" value="Нэмэх" type="submit" name="hair"></input>
                            </td>
                          </form>
                        </tr>
                        <tr>
                          <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Зураг
                         </th>
                          <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Тайлбар
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Дуусах хугацаа
                          </th>
                        
                          <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                          </th>
                          <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for sale in sales %}
                        <tr>
                          <td class="px-5 py-5 border-b border-gray-200 w-48  " >
                            <div class="flex-shrink-0 w-10 h-10 ">
                              <img class="w-full h-full border border-black rounded-full" src="data:image/png;base64,{{sale.image}}" alt="" />
                            </div>
                          </td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex items-center">
                                  <p class="text-gray-900 whitespace-no-wrap">
                                    {{sale.description}}
                                  </p>
                              </div>
                          </td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">{{sale.end_date}}</p>
                          </td>
                          
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <a href="{% url 'edit_sales' sale.id %}">Засах</a>
                          </td>
                          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <a href="{% url 'delete_sales' sale.id %}">Устгах</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div
                      class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between ">
                      <span class="text-xs xs:text-sm text-gray-900"> Showing 1 to 4 of 50 Entries </span>
                      <div class="inline-flex mt-2 xs:mt-0">
                        <button class="text-sm text-white transition duration-150 bg-[#F4C2C2] hover:bg-[#E17F93] font-semibold py-2 px-4 rounded-l"> Prev</button>
                        &nbsp; &nbsp;
                        <button class="text-sm text-white transition duration-150 bg-[#F4C2C2] hover:bg-[#E17F93] font-semibold py-2 px-4 rounded-r"> Next</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" space-x-8 mt-10">
                  <a href="{% url 'operator' %}" class="bg-[#F4C2C2] hover:bg-[#E17F93] px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Буцах</a>
                </div>
              </div>
            </div>
          <!-- ========================= LIST END // ========================= -->
        </div>
      </main>
    <!-- ========================= FOOTER  ========================= -->
    <header>
    <div class=" float-bottom">
    <footer class=" dark:bg-gray-900">
        <div class="container px-6 py-8 mx-auto">
            <hr class=" border-gray-200 dark:border-gray-500" />

            <div class="flex flex-col items-center sm:flex-row sm:justify-between">
                <p class="text-sm text-gray-500">© Lily Salon 2023. All Rights Reserved.</p>

                <div class="flex mt-3 -mx-2 sm:mt-0">
                    <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Teams </a>
                    <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Privacy </a>
                    <a href="#" class="mx-2 text-sm text-gray-500 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Reddit"> Cookies </a>
                </div>
            </div>
        </div>
    </footer>
  </div>
</header>
    <!-- ========================= FOOTER END ========================= -->
</body>

</html>