{% extends "./base/base.html" %}
{% block content %}
  {% load static %}
  <!-- ========================= HOME ========================= -->
    <div  class=" ">
      
        <div id="default-carousel "
            class=" relative z-[0] w-auto h-screen justify-center "
            data-carousel="static">
         
  
          <!-- ========================= Carousel wrapper ========================= -->
          
            <div class="overflow-hidden relative h-5/6  sm:h-5/6 xl:h-5/6 2xl:h- ">
              <div class="p-5">
               
              {% for sale in sales %}
              <div class=" duration-700 ease-in-out p-5 " data-carousel-item>
                <img src="data:image/png;base64,{{sale.image}}"
                    class="block absolute top-1/2 left-1/2 w-full h-full -translate-x-1/2 -translate-y-1/2  ">
              </div>
              {% endfor %}
            </div>
            </div>

              <button type="button"
                      class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none mx-10"
                      data-carousel-prev>
                <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                  <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                  </svg>
                  <span class="hidden">Previous</span>
                </span>
              </button>
              <button type="button"
                      class="flex absolute top-0 right-0 z-30 justify-center items-center px-1 h-full cursor-pointer group focus:outline-none mx-10"
                      data-carousel-next>
                <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                  <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                  </svg>
                  <span class="hidden">Next</span>
                </span>
              </button>
          
        </div>
      
      <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    </div>
  

  <!-- ========================= HOME END ========================= -->
  <!-- ========================= ABOUT US ========================= -->

  <div id="aboutElement" class=" bg-[#FDE2ED] p-10 ">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="m-6 ">
          <p class="text-gray-800 font-serif uppercase font-bold text-center text-2xl mb-5 ">Бидний тухай</p>
          <p class="text-lg text-gray-800 mb-5 text-justify">
            “Lily Salon” нь үсчин, маникур, нүүр будалтын чиглэлээр үйл ажиллагаа явуулдаг ба Монголын нэр хүндтэй салонуудын нэг юм. 2005 онд Японы дэлхийд алдартай сүлжээний албан ёсны төлөөлөгч болж, гоо сайхны цогц үйлчилгээг Монголын зах зээлд анхлан нэвтрүүлснээр “Lily Salon” нь үүсгэн байгуулагдаж байсан бол өнөөдөр 4 салбар, 30 ажилтантайгаар үйл ажиллагаагаа явуулсаар байна.  
          </p>
          
          <p class="text-xl text-gray-800 font-bold">Эрхэм зорилго</p>
          <p class="text-lg text-gray-800">
            Үйлчлүүлэгчиддээ сэтгэл ханамж гоо зүйн мэдрэмжийг бэлэглэнэ.  
          </p>
        </div>
      </div>
      <div class=" ">
        <img src="{% static 'images/about24.png' %}"
             class="w-[80%] float-right"
             alt="about24">
      </div>
    </div>
  </div>
  <!-- ========================= ABOUT US END ========================= -->
  <!-- ========================= SERVICES ========================= -->
  <div class="m-10"  id="serviceElement">
    <div class="m-6">
      <p class="text-gray-800 font-serif font-serif font-bold text-center text-2xl uppercase">Манай үйлчилгээнүүд</p>
    </div>
    <div class=" mx-[10%]">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
        {% for occupation in occupations %}
          <div class="relative group overflow-hidden shadow-md border border-2 p-2">
            <a href="{% url 'services' occupation.id %}">
              <img src="data:image/png;base64,{{occupation.image}}"
                   alt="Your Image"
                   class="object-cover w-screen h-full transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
              <div class="absolute inset-0 bg-gradient-to-l from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0">
              </div>
              <div class="bg-[#F4C2C2]  border-slate-500 border-2   top-3/4 flex items-center ml-10  absolute  ">
                <p class="p-2 flex items-center text-2xl font-serif text-slate-500">
                  {{ occupation.name }}
                </p>
              </div>
            </a>
          </div>
        {% endfor %}

      </div>
 
    </div>
    <!-- ========================= SERVICES END ========================= -->
  </div>
</div>
{% endblock %}
