{% extends "./base/base.html" %}
{% block content %}
  {% load static %}
  <!-- ========================= HOME ========================= -->
  <div style="background-image: url(../../static/images/pink_marble.jpg);">
    <div class="max-w-7xl mx-auto mt-12 mx-5 pt-16 ">
      <div id="default-carousel"
           class=" relative z-[0] w-auto h-screen justify-center "
           data-carousel="static">
        <div>
          <div class="m-6 ">
            <p class="text-gray-800 font-serif font-bold uppercase text-center text-4xl">"Мэдээ мэдээлэл"</p>
          </div>
        </div>
        <!-- ========================= Carousel wrapper ========================= -->
        <div class="overflow-hidden relative h-5/6 rounded-lg sm:h-5/6 xl:h-5/6 2xl:h-5/6">
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <span class="absolute top-1/2 left-1/2 text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 sm:text-3xl dark:text-gray-800">First Slide</span>
            <img src="{% static 'images/homeSalon.png' %}"
                 class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
                 alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{% static 'images/homeSalon.png' %}"
                 class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
                 alt="...">
          </div>
          <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="{% static 'images/homeSalon.png' %}"
                 class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
                 alt="...">
          </div>
        </div>
        <div class="flex absolute bottom-44 left-1/2 z-30 space-x-3 -translate-x-1/2"
             id="aboutElement">
          <button type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="false"
                  aria-label="Slide 1"
                  data-carousel-slide-to="0"></button>
          <button type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="false"
                  aria-label="Slide 2"
                  data-carousel-slide-to="1"></button>
          <button type="button"
                  class="w-3 h-3 rounded-full"
                  aria-current="false"
                  aria-label="Slide 3"
                  data-carousel-slide-to="2"></button>
        </div>
        <button type="button"
                class="flex absolute top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                data-carousel-prev>
          <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            <span class="hidden">Previous</span>
          </span>
        </button>
        <button type="button"
                class="flex absolute top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none"
                data-carousel-next>
          <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800"
                 fill="none"
                 stroke="currentColor"
                 viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            <span class="hidden">Next</span>
          </span>
        </button>
      </div>
      <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    </div>
  </div>
  <!--
<div class=" m-10">
  <div class="relative ">
      <img src="{% static 'images/homeSalon.png' %}" alt="Invoice logo" class=" object-cover h-screen w-screen rounded-lg shadow-2xl ">
     
        <p class="absolute flex  font-serif top-1/2 text-center  pl-10 text-gray-50 font-bold ">
          <span class="bg-clip-text text-6xl  text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
            Welcome to Lily Salon
          </span>
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
            If you want to create your new image, please use us. 
          </span>
        </p>
       
         
      </div>
  </div> -->
  <!-- ========================= HOME END ========================= -->
  <!-- ========================= ABOUT US ========================= -->
  <div class="bg-[#FFFFFF] p-10">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="m-6 ">
          <p class="text-gray-800 font-serif uppercase font-bold text-center text-4xl mb-5">"Бидний тухай"</p>
          <p class="text-lg text-gray-800">
            A beauty salon is an establishment that offers a variety of cosmetic treatments and cosmetic services for men and women. Beauty salons may offer a variety of services including professional hair cutting and  manicures and pedicures, makeovers.
          </p>
          <p class="text-lg text-gray-800 mb-5">
            Lily Salon is located in Ulaabnaatar, Mongolia was formed in 2003, The salon offers hair services like haircuts, styling, highlights and coloring, texturizing and keratin treatments by using branded hair care products.
          </p>
          <p class="text-xl text-gray-800 font-bold">Mission Statement</p>
          <p class="text-lg text-gray-800">
            Opened with the premise of exceptional service for a fair price, Lily Salon's mission is to provide clients with outstanding salon services while making them feel among friends. It's this mantra that has earned GHDS prestige among patrons and keeps them coming back.
          </p>
        </div>
      </div>
      <div class=" ">
        <img src="{% static 'images/about24.png' %}"
             class="w-[80%] float-right"
             alt="about24">
      </div>
    </div>
  </div>
  <!-- ========================= ABOUT US END ========================= -->
  <!-- ========================= SERVICES ========================= -->
  <div class="m-10" id="serviceElement">
    <div class="m-6">
      <p class="text-gray-800 font-serif font-serif font-bold text-center text-4xl">"Үйлчилгээний төрлүүд"</p>
    </div>
    <div class=" ">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
        {% for occupation in occupations %}
          <div class="relative group overflow-hidden shadow-md">
            <a href="{% url 'services' %}">
              <img src="data:image/png;base64,{{occupation.image}}"
                   alt="Your Image"
                   class="object-cover w-screen h-96 transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
              <div class="absolute inset-0 bg-gradient-to-l from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0">
              </div>
              <p class="p-2 bg-[#F4C2C2] border-slate-500 border-2 font-serif text-6xl top-1/3 ml-10 text-slate-500 absolute">
                {{ occupation.name }}
              </p>
            </a>
          </div>
        {% endfor %}
        <!-- </div>
        <div class="relative group overflow-hidden shadow-md">
          <a href="{% url 'services' %}">
            <img src="{% static 'images/hairstyle.jpg' %}" alt="Your Image" class="object-cover w-screen h-80 transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
            <div class="absolute inset-0 bg-gradient-to-l from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0"></div>
            <p class="p-2 bg-[#F4C2C2] border-slate-500 border-2 font-serif text-6xl top-1/3 ml-10 text-slate-500 absolute">Үс засалт</p>  
          </a>
        </div>
        <div class="relative group overflow-hidden shadow-md">
          <a href="{% url 'services' %}">
            <img src="{% static 'images/nail1.jpeg' %}" alt="Your Image" class="object-cover w-screen h-80 transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
            <div class="absolute inset-0 bg-gradient-to-r from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0"></div>
            <p class="p-2 bg-[#F4C2C2] border-slate-500 border-2 font-serif text-6xl top-1/3 right-10 text-slate-500 absolute">Хумс будалт</p>  
          </a>
        </div>
        
        <div class="relative group overflow-hidden shadow-md">
          <a href="{% url 'services' %}">
            <img src="{% static 'images/makeup4.jpg' %}" alt="Your Image" class="object-cover w-screen h-80 transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
            <div class="absolute inset-0 bg-gradient-to-l from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0"></div>
            <p class="p-2 bg-[#F4C2C2] border-slate-500 border-2 font-serif text-6xl top-1/3 ml-10 text-slate-500 absolute">Нүүр будалт</p> 
          </a>
        </div>
-->
      </div>
      <!-- <div class=" border-2 border-gray-800">
        <div class="relative group overflow-hidden shadow-md">
          <a href="{% url 'services' %}">
            <img src="{% static 'images/hairstyle.jpg' %}" alt="Your Image" class="object-cover w-screen h-80 transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
            <div class="absolute inset-0 bg-gradient-to-l from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0"></div>
            <p class="p-2 bg-[#F4C2C2] border-slate-500 border-2 font-serif text-6xl top-1/3 ml-10 text-slate-500 absolute">Үс засалт</p>  
          </a>
        </div>
        <div class="relative group overflow-hidden shadow-md">
          <a href="{% url 'services' %}">
            <img src="{% static 'images/nail1.jpeg' %}" alt="Your Image" class="object-cover w-screen h-80 transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
            <div class="absolute inset-0 bg-gradient-to-r from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0"></div>
            <p class="p-2 bg-[#F4C2C2] border-slate-500 border-2 font-serif text-6xl top-1/3 right-10 text-slate-500 absolute">Хумс будалт</p>  
          </a>
        </div>
        
        <div class="relative group overflow-hidden shadow-md">
          <a href="{% url 'services' %}">
            <img src="{% static 'images/makeup4.jpg' %}" alt="Your Image" class="object-cover w-screen h-80 transform transition-opacity duration-300 hover:opacity-0 group-hover:opacity-100">
            <div class="absolute inset-0 bg-gradient-to-l from-rose-400 from-10% to-black to-90% opacity-60 transition-opacity duration-300 group-hover:opacity-0"></div>
            <p class="p-2 bg-[#F4C2C2] border-slate-500 border-2 font-serif text-6xl top-1/3 ml-10 text-slate-500 absolute">Нүүр будалт</p> 
          </a>
        </div>
        

      </div> -->
    </div>
    <!-- ========================= SERVICES END ========================= -->
  </div>
</div>
{% endblock %}
