{% extends "./base/base.html" %}

{% block content %}
{% load static %}

    <div class=" min-h-screen flex items-center justify-center bg-[#FDE2ED]">
            <div class="w-[90%] h-[70%] py-4 my-10 mx- h-full px-4 sm:px-6 lg:px-4 mb-12 z-10 ">
                <div class="w-100 p-4 h-full text-center border border-2 border-white rounded-xl">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 ">
                        <div class="relative w-full h-screen bg-cover bg-center group rounded-l-lg overflow-hidden "
                            >
                            <img src="data:image/png;base64,{{occupation.0.image}}" class="object-cover w-full h-full"/>
                            
                        </div>
                        <div class="relative w-full h-screen  bg-cover bg-center group rounded-r-lg overflow-hidden shadow-lg hover:shadow-2xl  transition duration-300 ease-in-out">
                            <div class="absolute p-10 inset-0 bg-black bg-opacity-50  transition ">
                                <h4 class="text-white pb-5 text-2xl font-bold">{{ occupation.0.name }}</h4>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-2 text-white ">
                                    <div class="font-bold">Үйлчилгээний нэр:</div>
                                    <div class="font-bold">Үнэ:</div>
                            
                                    {% for service in services %}
                                    <div class="flex items-start">{{service.name}}</div>
                                    <div>{{service.price}}₮</div>
                                    {% endfor %}

                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
{% endblock %}