{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=604800" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="{% static 'js/tailwind.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="{% static 'css/daisy.css' %}" rel="stylesheet" type="text/css" />
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.8.2/dist/full.css"
              rel="stylesheet"
              type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .nav-item {
              display: inline-block;
              margin-right: 10px;
              cursor: pointer;
            }
        
            .nav-item.active {
              font-weight: bold;
            }
          </style>
    </head>
    <body class=" bg-white">
        <!-- ========================= HEADER ========================= -->
        <div class="">
            <nav class="bg-white  shadow-lg fixed w-full z-20 top-0 left-0 p-2">
                <div class="grid grid-cols-1 md:grid-cols-4 px-5">
                    <div>
                        <a href="{% url 'index' %}">
                            <div class="flex items-center flex-no-shrink  ">
                                <img src="{% static 'images/flowerLogo.png' %}"
                                    alt="Lily logo"
                                    class="w-12 h-12  rounded-badge mr-2   border-slate-50">
                                <span class="font-semibold text-2xl tracking-tight font-['Open_Sans'] text-black">Lily Salon</span>
                            </div>
                        </a>
                    </div>
                    <div class="w-full block  lg:flex lg:items-center lg:w-auto col-span-2 ">
                        <div class="lg:flex-grow grid grid-cols-1 md:grid-cols-5 gap-5 text-gray-800 font-sans text-sm text-center ">
                            <script>
                                function toggleActive(clickedElement,path) {
                                 
                                  var navItems = document.querySelectorAll('.nav-item');
                                  navItems.forEach(function(item) {
                                    item.classList.remove('active');
                                  });
                                  clickedElement.classList.add('active');
                                    if(path == 'home')
                                    {
                                        window.scrollTo({ top: 0, behavior: 'smooth' });
                                    }
                                    if(path == 'aboutElement')
                                    {
                                        window.scrollTo({ top: 750, behavior: 'smooth' });
                                    }
                                    if(path == 'serviceElement')
                                    {
                                        window.scrollTo({ top: 1350, behavior: 'smooth' });
                                    }
                                    
                                    
                                }
                              </script>
 
                                {% if request.path == '/' %}
                                <span class="nav-item" onclick="toggleActive(this,'home')">Нүүр</span>
                                {% else %}
                                <a class="nav-item" href="{% url 'index' %}">Нүүр</a>
                                {% endif %}
                                {% if request.path == '/' %}
                                <span class="nav-item" onclick="toggleActive(this,'aboutElement')">Бидний тухай</span>
                                {% else %}
                                <a class="nav-item" href="{% url 'index' %}#aboutElement">Бидний тухай</a>
                                {% endif %}
                                {% if request.path == '/' %}
                                <span class="nav-item" onclick="toggleActive(this,'serviceElement')">Үйлчилгээ</span>
                                {% else %}
                                <a class="nav-item" href="{% url 'index' %}#serviceElement">Үйлчилгээ</a>
                                {% endif %}
                                
                       
                            {% if request.path == '/order/' %}
                                <a href="{% url 'order' %}"
                                class="font-bold block lg:inline-block lg:mt-0   ">
                                    Цаг захиалах
                                </a>
                            {% else %}
                                <a href="{% url 'order' %}"
                                class="block lg:inline-block lg:mt-0 text-teal-lighter hover:text-[#FDE2ED] ">
                                    Цаг захиалах
                                </a>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="flex items-center justify-end ">
                        {% if request.path == '/login/' %}
                        <a href="{% url 'login' %}"
                            class="font-bold block lg:inline-block lg:mt-0   ">
                            <img src="{% static 'images/icons/login1.png' %}">
                        </a>
                        {% else %}
                            <a href="{% url 'login' %}"
                                class="block lg:inline-block lg:mt-0 text-teal-lighter  ">
                                <img src="{% static 'images/icons/login1.png' %}">
                            </a>
                        {% endif %}
                    </div>
                </div>   </div>
            </nav>
        </div>
        <!-- ========================= HEADER END // ========================= -->
        <main class="min-h-screen mt-16 ">
            {% block content %}{% endblock %}
        </main>
        <!-- ========================= FOOTER  ========================= -->
        <header>
            <div class=" float-bottom">
                <footer class=" dark:bg-[#F4C2C2]">
                    <!-- <div>
                        <div class="flex items-center justify-center p-5">
                            <p class="font-bold text-black bg-white rounded-full p-2">Холбоо барих</p>
                        </div>
                        
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-10 px-[10%]">
                                {% for branch in branches %}
                                <div>
                                    <div class="text-black">
                                        <img src="{% static 'images/icons/login1.png' %}">
                                        <p>Салбар-{{ branch.id }}</p>
                                        <p>Байршил- {{ branch.address }}</p>
                                    </div>
                                </div>
                                {% endfor %} 
                                <div>
                                    <div class="text-black">
                                        <img src="{% static 'images/icons/login1.png' %}">
                                        <p>Салбар-</p>
                                        <p>Байршил-</p>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-black">
                                        <img src="{% static 'images/icons/login1.png' %}">
                                        <p>Салбар-</p>
                                        <p>Байршил-</p>
                                    </div>
                                </div>
                               
                            </div>
                        
                    </div> -->
                    <div class="container px-6 py-8 mx-auto">
                        <hr class=" border-gray-200 dark:border-gray-500" />
                        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
                            <p class="text-sm text-slate-700">© Lily Salon 2023. All Rights Reserved.</p>
                            <div class="flex mt-3 -mx-2 sm:mt-0">
                                <a href="#"
                                   class="mx-2 text-sm text-slate-700 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                                   aria-label="Reddit">Teams</a>
                                <a href="#"
                                   class="mx-2 text-sm text-slate-700 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                                   aria-label="Reddit">Privacy</a>
                                <a href="#"
                                   class="mx-2 text-sm text-slate-700 transition-colors duration-300 hover:text-gray-500 dark:hover:text-gray-300"
                                   aria-label="Reddit">Cookies</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </header>
        <!-- ========================= FOOTER END ========================= -->
    </body>
    <script>
    document.getElementById('scrolltoAbout').addEventListener('click', function() {
      window.scrollTo({ top: 750, behavior: 'smooth' });
    }) 

    document.getElementById('scrolltoServices').addEventListener('click', function() {
      window.scrollTo({ top: 1350, behavior: 'smooth' });
    })
    </script>
</html>
